Repository ldamewood/ly-python-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-validate, lint

circleci-validate:
  name: circleci-validate
  entry: circleci config validate
  language: system

lint:
  name: lint
  entry: poetry run lint
  language: system
  require_serial: true

Rename pre-commit cache in CI
  .circleci/config.yml
Due: circleci-validate

Remove print statements
  .prospector.yml
  src/ly_python_tools/lint.py
Due: lint

Add pre-commit-hooks
  .pre-commit-hooks.yaml
Due: none

Add flake8-print support
  poetry.lock
  pyproject.toml
Due: none

Run pyright on all files
  src/ly_python_tools/lint.py
Due: lint

Update .pre-commit-hooks.yaml
  .pre-commit-hooks.yaml
Due: none

Add environment variable context manager
  src/ly_python_tools/environ.py
  tests/test_environ.py
Due: lint

Make pyright a bit more resilliant
  src/ly_python_tools/lint.py
Due: lint

Upgrade pyright to 1.1.231
  poetry.lock
Due: none

Ensure environment is left exactly the same
  tests/test_environ.py
Due: lint

Remove dummy test
  tests/test_basic.py
Due: lint

Update spelling dictionary
  .vscode/settings.json
Due: none

Use a decorator for the pyright environment
  src/ly_python_tools/lint.py
Due: lint

Add comment about modified files
  src/ly_python_tools/lint.py
Due: lint

Don't make some packages optional, instead disable via config
  poetry.lock
  pyproject.toml
Due: none

Continue after bootstrap
  src/ly_python_tools/lint.py
Due: lint

Fix extras
  .circleci/config.yml
  README.md
Due: circleci-validate

Add CHANGELOG and RELEASE instructions
  .editorconfig
  CHANGELOG.md
  RELEASE.md
Due: none

Use release pre-commit hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

Update pre-commit config
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

Add coverage and behave
  poetry.lock
  pyproject.toml
Due: none

Update vscode config to account for behave
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Add gherkin to editorconfig
  .editorconfig
Due: none

Add behave tests
  .circleci/config.yml
  features/environment.py
  features/lint.bootstrap.feature
  features/lint.files.feature
  features/steps/__init__.py
  features/steps/data/pyproject.toml
  features/steps/data/src/fails_black.py
  features/steps/data/src/fails_flake8.py
  features/steps/data/src/fails_isort.py
  features/steps/data/src/fails_multiple.py
  features/steps/data/src/fails_prospector.py
  features/steps/data/src/fails_pyright.py
  features/steps/data/src/fails_pyupgrade.py
  features/steps/data/src/passes.py
  features/steps/lint.py
  features/steps/lint_env.py
  src/ly_python_tools/environ.py
  src/ly_python_tools/lint.py
  typings/behave/__init__.pyi
  typings/behave/model.pyi
  typings/behave/runner.pyi
Due: circleci-validate, lint

Standardize everything around mutable files
  features/lint.files.feature
  src/ly_python_tools/environ.py
  src/ly_python_tools/lint.py
Due: lint

Use pep440
  .circleci/config.yml
  pyproject.toml
Due: circleci-validate

Clean up the code
  src/ly_python_tools/environ.py
  src/ly_python_tools/lint.py
  src/ly_python_tools/lint/__init__.py
  src/ly_python_tools/lint/cli.py
  src/ly_python_tools/lint/config.py
  src/ly_python_tools/lint/environ.py
  src/ly_python_tools/lint/linter.py
  src/ly_python_tools/lint/modified_paths.py
  tests/test_environ.py
Due: lint

Clarify some things
  src/ly_python_tools/lint/linter.py
  src/ly_python_tools/lint/modified_paths.py
Due: lint

wip
  poetry.lock
  pyproject.toml
  src/ly_python_tools/__init__.py
  src/ly_python_tools/version.py
Due: lint

test
  .circleci/config.yml
Due: circleci-validate

Path conditions:
  circleci-validate: any of: ^.circleci/config\.yml$
  lint: any of: \.py$
