Repository LeapYear/ly-python-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci-validate, pyupgrade, black, reorder-python-imports, pyproper, prospector

circleci-validate:
  name: circleci-validate
  entry: circleci config validate
  language: system

pyupgrade:
  name: pyupgrade
  entry: poetry run pyupgrade
  language: system

black:
  name: black
  entry: poetry run black
  language: system

reorder-python-imports:
  name: reorder-python-imports
  entry: poetry run reorder-python-imports --py37-plus --add-import 'from __future__ import annotations'
  language: system

pyproper:
  name: pyproper
  entry: poetry run pyproper
  language: system
  require_serial: true
  pass_filenames: false

prospector:
  name: prospector
  entry: poetry run prospector
  language: system
  require_serial: true

Fix poetry-core version
  pyproject.toml
Due: none

Update packages, skip click 8.1.0
  poetry.lock
  pyproject.toml
Due: none

Remove pyproper and use pre-commit instead
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/ly_python_tools/pyproper.py
  tests/test_environ.py
Due: pyupgrade, black, reorder-python-imports, pyproper, prospector

Cleanup docs and add autoflake
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: none

MAINT: use latest python orb v2.0.X
  .circleci/config.yml
Due: circleci-validate

Path conditions:
  circleci-validate: any of: ^.circleci/config\.yml$, but not: ^features/steps/data/
  pyupgrade: any of: \.py$, but not: ^features/steps/data/
  black: any of: \.py$, but not: ^features/steps/data/
  reorder-python-imports: any of: \.py$, but not: ^features/steps/data/
  pyproper: any of: \.py$, but not: ^features/steps/data/
  prospector: (any of: ^src and \.py$ and not (^features/steps/data/)) or (any of: ^(tests/|features/) and \.py$ and not (^features/steps/data/))
